/* You can add global styles to this file, and also import other style files */
body {
    background-color: #340A40;
    color: #bf73b3;
}

button {
    border: 0;
    color: #bf73b3;
    background-color: #711673;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    font-size: 20px;
}

.app {
    text-align: center;
}

.c-game-information {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  p {
    text-align: center;
    display: inline-block;
    padding: 1em;
    font-size: 2em;
  }
}
